---
layout: default
---
<article class="post">

  <header class="post-header">
    <h1 class="post-title">{{ page.title }}</h1>
  </header>

  <div class="post-content">
    <table class="data-table">
        <thead>
            <th>Title</th>
            <th>Interface</th>
            <th>Capacity (GB)</th>
            <th>Avg Price</th>
            <th>Ratio</th>
        </thead>
        <tbody>
            {% for item in site.data[page.data] %}
              <tr>
                <td>{{ item.title }}</td>
                <td>{{ item.interface }}</td>
                <td>{{ item.capacity }}</td>
                <td>
                    <span title="From {{ item.price.min }} to {{ item.price.max }}">
                        {{ item.price.avg }}
                    </span>
                </td>
                <td>
                    <span title="From {{ item.ratio.min }} to {{ item.ratio.max }}">
                        {{ item.ratio.avg }}
                    </span>
                </td>
              </tr>
            {% endfor %}
        </tbody>
    </table>
  </div>

</article>
